{% extends 'backoffice/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-description">
                    <h1>Servis o'zgartirish</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="example-container">
                            <div class="example-content">
                                <form class="row g-3" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="col-md-6">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" class="form-control" name="title" value="{{ service.title }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="text" class="form-label">Text</label>
                                        <input type="text" class="form-control" name="text" value="{{ service.text }}">
                                    </div>
                                    <div class="col-12">
                                        <label for="inputAddress" class="form-label">photo default <a href="{{ service.photo.url }}">{{ service.photo.url }}</a></label>
                                        <input type="file" class="form-control" name="photo">
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}